body {
    font-family: 'Comic Sans MS', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    --text-color: black;
    --text-invert-color: Black;
    background-color: rgba(18, 18, 18, 0.1);
}

body.dark-mode {
    --text-color: black;
    --text-invert-color: white;
    background-color: rgba(18, 18, 18, 0.9);
}